{% extends 'layout.html.twig' %}

{% block content %}
<h1 class="uk-heading-line uk-text-center"><span>Changement de mot de passe</span></h1>
<section class="uk-width-expand sectionPassword">    
    
    <form method="post">        
        <div class="uk-margin">       
            <input class="uk-input formPassword" type="text" placeholder="E-mail" name="email"/>
        </div>
            {% if (errors.email  is defined) or (errors.formatEmail  is defined) or (errors.verifEmail  is defined)%}
                <ul class="emailErr">
                    {% if errors.email is defined %}<li>{{ errors.email }}</li>{% endif %}
                    {% if errors.formatEmail is defined %}<li>{{ errors.formatEmail }}</li>{% endif %}
                    {% if errors.verifEmail is defined %}<li>{{ errors.verifEmail }}</li>{% endif %}                  
                </ul>
            {% endif %}
        <div class="uk-margin">        
            <input class="uk-input formPassword" type="text" placeholder="Nouveau mot de passe" name="password"/>
        </div>
            <p class="password">{{ errors.password }}</p>
        <div class="uk-margin">        
            <input class="uk-input formPassword" type="text" placeholder="Confirmer mot de passe" name="confirmPassword"/>
        </div>
            <p class="confirmPassword">{{ errors.confirmPassword }}</p>    
        <div class="uk-margin">
            <button class="uk-button buttonPassword uk-button-default uk-width-1-1 uk-margin-small-bottom">Valider</button>
        </div>
        <div class="uk-margin">
            <a  href="/login" class="uk-button buttonPassword uk-button-default uk-width-1-1 uk-margin-small-bottom">Annuler</a>
        </div>    
    </form>
    </section>
{% endblock %}