{% extends 'admin.html.twig' %}

{% block content %}

    <h2 class="uk-text-lead admin-h2">Gestion des utilisateurs</h2>
    
    <section class="admin-users">
        <div class="uk-padding uk-padding-remove-bottom">
            <h3 class="">Liste des utilisateurs</h3>
        </div>
        <div class="uk-padding">
            <table class="uk-table uk-table-hover uk-table-divider" >
                <thead>
                    <tr>
                        <th class="admin-th">Prénom</th>
                        <th class="admin-th">Nom</th>
                        <th class="admin-th">Email</th>
                        <th class="admin-th">Status</th>
                        <th class="admin-th">Adresse</th>
                        <th class="admin-th">Code postal</th>
                        <th class="admin-th">Ville</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}

                        <tr>
                            <td>{{ user.firstname }}</td>
                            <td>{{ user.lastname}}</td>
                            <td>{{ user.email}}</td>
                            {% if user.status == 0 %}
                                <td>Utilisateur</td>
                            {% elseif user.status == 1 %}
                                <td>Admin</td>
                            {% endif %}
                            <td>{{ user.adresse}}</td>
                            <td>{{ user.code_postal}}</td>
                            <td>{{ user.ville}}</td>
                            <td>
                                <a href="/admin/UsersAdmin/edit?id={{user.id}}" uk-icon="icon: pencil"></a>
                                <a href="/admin/UsersAdmin/delete?id={{user.id}}" uk-icon="icon: trash"></a>
                            <td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

{% endblock %}