<form method="post" enctype="multipart/form-data">
	<fieldset class="uk-fieldset">

		<div class="uk-margin">
			<input class="uk-input" type="text" name="location" placeholder="location" value="{{ concert.location }}" aria-label="Input">
		</div>

		<div class="uk-margin">
			<textarea class="uk-textarea" rows="5" name="capacity" placeholder="capacity" aria-label="Textarea">{{ concert.capacity }}</textarea>
		</div>

		<div class="uk-margin">
			<textarea class="uk-textarea" rows="5" name="places_availables" placeholder="places_availables" aria-label="Textarea">{{ concert.places_availables }}</textarea>
		</div>

		<div class="uk-margin">
			<textarea class="uk-textarea" rows="5" name="date" placeholder="date" aria-label="Textarea">{{ concert.date }}</textarea>
		</div>

		{% if concert.affiche is defined %}
			{% set image = concert.affiche %}
		{% else %}
			{% set image = "../assets/images/cigognelesaccoifés.jpg" %}
		{% endif %}

		<div class="uk-margin">
			<div uk-form-custom>
				<input type="file" aria-label="Custom controls" name="affiche" id="affiche" accept="affiche/jpeg, affiche/jpg, affiche/png, affiche/webp">
				<button class="uk-button uk-button-default" uk-icon="download" type="button" tabindex="-1">Télécharger une image</button>
			</div>
		</div>

		<div class="uk-margin">
			<button type="submit" class="uk-button uk-button-primary contact-insc-buttonadmin-ajout-button">{{button}}
				Enregistrer</button>

		</div>
	</fieldset>
</form>
