{% extends 'layout.html.twig' %}

{% block content %}
<section class="disco-section">   
    <h1 class="uk-heading-line uk-text-center disco-heading-line"><span>Discographie</span></h1>
    <h3 class="uk-text-large disco-h3"> Des compositions originales 100% rock’n roll qui font sonner des textes 100% en dialecte.<br/>
    Les albums sont à consommer sans modération !</h3>
    <div class="uk-child-width-1-2@m"uk-grid>
        <div class="uk-card disco-cards">
            {% for album in albums %}
            <div class="uk-card uk-card-default disco-card-default">
                <div class="uk-card-media-top disco-card-media-top">
                    <img src="assets/images/albums/{{album.image}}" alt="image album1" class="disco-img">
                </div>
                <div class="uk-card-body disco-card-body">
                    <h2 class="uk-card-title disco-card-title">{{album.title}}</h2>
                    <p class="albumYear">{{album.year}}</p>
                    <table class="uk-table disco-td">
                        <h6 class="disco-h6">Playlist</h6>
                        <tbody>
                            {% for song in songs %}
                            {% if song.album_id == album.id %} 
                               <tr>
                                    <td class="disco-td">{{song.title}}</td>
                                    <td class="disco-td">{{song.time}}</td>
                                </tr>
                            {% endif %}
                            {% endfor %}
                         </tbody>
                    </table>
                </div>
            </div>
            {% endfor %}
</section>
{% endblock %}
