<div id="modal-container{{goodie.id}}" class="uk-modal-container" uk-modal>
    <div class="modal-goodie uk-modal-dialog uk-modal-body">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="">
            <h2 class="uk-modal-title uk-text-center">{{ goodie.designation }}</h2>
            <div class="uk-child-width-1-2" uk-grid>
                <div>
                    <img src="assets/images/goodies/{{ goodie.picture }}"></img>
                </div>
                <div class="uk-flex uk-flex-column">
                    <p class="modal-goodie-desc uk-flex-auto">{{ goodie.description|nl2br }}</p>
                    <h3 class="modal-price-goodie uk-flex-1 uk-font-bolder">{{ goodie.price }} €</h3>
                </div>
            </div>
        </div>
    </div>
</div>