{% extends 'layout.html.twig' %}

{% block content %}
<h1 class="uk-heading-line uk-text-center contact-heading-line"><span>Contact</span></h1>
<h2 class="titreContact">Contactez-nous</h2>
<section class="contact-section">
    <form class="uk-form-stacked contact-form" method="POST">
        <div class="uk-margin contact-margin">
            <label class="uk-form-label contact-form-label" for="form-stacked-select">Sélectionner le type de demande</label>
            <div class="uk-form-controls contact-form-controls">
                <select class="uk-select contact-select" name="type" id="form-stacked-select">
                    <option class="contact-option" value=""></option>
                    <option class="contact-option" value="Concerts">Concerts</option>
                    <option class="contact-option" value="Boutique">Boutique</option>
                    <option class="contact-option" value="Autre">Autre</option>
                </select>
            </div>
            {% if errors.type is not empty %}
                <h4 class="contact-mess-errors">{{errors.type}}</h4>
            {% endif %}
        </div>
        <div class="uk-margin contact-margin">
            <label class="uk-form-label contact-form-label"for="form-stacked-text">Saisir votre email</label>
            <div class="uk-form-controls contact-form-controls">
                <input class="uk-input contact-input" name="email"  id="form-stacked-text" type="text" placeholder="Email">
            </div>
            {% if errors.email is not empty %}
                <h4 class="contact-mess-errors">{{errors.email}}</h4>
            {% endif %}
            {% if errors.validateEmail is not empty %}
                <h4 class="contact-mess-errors">{{errors.validateEmail}}</h4>
            {% endif %}
        </div>
        <div class="uk-margin contact-margin">
            <label class="uk-form-label contact-form-label" for="form-stacked-text">Votre message</label>
            <textarea class="uk-textarea contact-message" name="message"></textarea>
            {% if errors.message is not empty %}
                <h4 class="contact-mess-errors">{{errors.message}}</h4>
            {% endif %}      
        </div>
        <div class="uk-margin contact-margin">
            <button class="uk-button uk-button-default contact-button" name="contact">Envoyer</button>
        </div>
    </form>
</section>
    <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin insc-newsletter" uk-grid>
        <div class="uk-card-media-left uk-cover-container contact-card-media-left">
            <img src="assets/images/cigognelesassoifés.jpg" alt="cigogne" uk-cover>
            <canvas width="600" height="400" class="contact-img"></canvas>
        </div>
        <div>
            <div class="uk-card-body contact-card-body">
                <h2 class="uk-card-title titreInscpContact">Inscription à la newsletter</h2>
                <p class="uk-text-default contact-newsletter-text">Recevez nos dernières dates de concert et actualités en priorité en vous inscrivant à la newsletter</p>
                <div class="uk-margin contact-margin">
                <form method="POST">
                    <div class="uk-inline contact-inline">
                        <span class="uk-form-icon contact-icon-mail" uk-icon="icon: mail"></span>
                        <input class="uk-input contact-input" type="text" name="email" aria-label="Not clickable icon">
                        <h4 class="contact-mess-errors">{{errors.message}}</h4>
                    </div>
                    <button class="uk-button uk-button-default contact-insc-button" name="newsletter">Inscription</button>
                    
                    </div>
                    <div>
                        <ul>
                            {% if validateNewsletter %} <li>Inscription Validé !</li>{% endif %}
                            {% for error in errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div>
                        <label class="contact-checkbox"><input class="uk-checkbox" type="checkbox" name="check_newsletter" checked>Vous acceptez de recevoir nos derniers articles et dates de concert par mail</label>
                        <p class="contact-rgpd">Vous affirmez avoir pris connaissance de notre Politique de condifentialité.
                        </br>Vous pouvez vous désinscrire à tout moment à l'aide des liens de désinscription
                        ou en nous contactant à l'adresse contact@assoifés.alsace</p>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}